* {
    padding:0px;
    margin:0px;
    outline:none;
}
a {
    text-decoration:none;
    color:white;
}

header {
    text-align : center;
    margin-top : 200px;
}

/*아이디 입력*/
.id {
    text-align : center;
    margin-top:20px;
}
.idbtn {
    width: 300px;
    height : 30px;
    border:2px solid #ff8339;
    border-radius : 50px;
    padding : 3px 0px 3px 20px;
}

/*비밀번호 입력*/
.pw {
    text-align : center;
    margin-top:10px;
}

.pwbtn {
    width: 300px;
    height : 30px;
    border:2px solid #ff8339;
    border-radius : 50px;
    padding : 3px 0px 3px 20px;
}

/*로그인 버튼*/
.login {
    text-align : center;
    margin-top:20px;
}

.loginbtn{
    width:400px;
    height:40px;
    border:0px;
    border-radius:50px;
    background-color : #ff8339;
    color:white;
    font-size:16px;
    font-weight:bold;
}

/*회원가입 유도 버튼*/
.joinbtn {
    text-align : center;
    margin-top:15px;
    font-size:12px;
}
