<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원수정페이지</title>
  <link rel="stylesheet" href="/css/update.css"/>
</head>
<body>
<header class="top"> <a href="main">
  <img src="/images/white_logo.png" style="width:50px; height:50px;"></a>
</header>
<div class="center">
  <img src="/images/arrow.png" class="arrow" onclick="history.back(-1)"/>
  <div id="sub">회원 수정</div>
  <div class="content">
    <form th:action="@{/member/{id}/update (id=${session.id})}" method="post">
      <div class="id">아이디 </div>
      <input type="text" style="margin-top:10px;" th:value="${id}" name="id" readonly="readonly" disabled>
      <div class="pw" style="margin-top:20px;">비밀번호</div>
      <input type="password" style="margin-top:10px;" th:value="${session.pw}" name="pw">
      <div class="name" style="margin-top:20px;">이름 </div>
      <input type="text" style="margin-top:10px;" th:value="${session.name}" name="name">
      <div class="email" style="margin-top:20px;">이메일 </div>
      <input type="text" style="margin-top:10px;" th:value="${session.email}" name="email">
      <div class="phone" style="margin-top:20px;">전화번호 </div>
      <input type="text" style="margin-top:10px;" th:value="${session.phone}" name="phone">

      <button type="submit" class="updatebtn" id="update">수정하기</button>
    </form>
  </div>

</div>

</body>
</html>